<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Insert Title Here</title>
<link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{css/bootstrap-theme.min.css}"/>
<script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript">
	$(document).ready(function(){
		findBook();
	});
	
	function findBook() {
		$.ajax("/findBook",
		       {
		       	dataType: "json",
		       	type: "post",
		       	contentType: "application/json",
		       	data: JSON.stringify({id: 1, name: "Spring MVC"}),
		       	async: true,
		       	success: function(data) {
		       		console.log(data);
		       		$("#name").html(data.name);
		       		$("#author").html(data.author);
		       		$("#price").html(data.price);
		       	},
		       	error: function() {
		       		alert("数据发送失败");
		       	}
		       });
	}
</script>
</head>
<body>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">Spring Boot中的json</h3>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<p id="name"></p>
					<p id="author"></p>
					<p id="price"></p>
				</div>
		 </div>
	 </div>
</body>
</html>